@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:wght@100&display=swap');
/* 

font-family: 'Abril Fatface', cursive; 
font-family: 'Montserrat', sans-serif;

*/

/******* GENERAL CSS********/

body{
    background-color: #f0f7f4;
    font-family: 'Montserrat', sans-serif;
}
h1, h2, h3, h4, h5{
    font-family: 'Abril Fatface', cursive; 
}


footer{
    background-color: #32292f;
    color: #f0f7f4;
    font-size: .7rem;
    padding-top: 20px;
    padding-bottom: 10px;
}

footer a:active{
    color: #f0f7f4;
}

footer a:visited{
    color: #f0f7f4;
}

footer a:hover{
    color: #5a7684;
}

/******* NAV ********/

nav {
    background-color: #32292f;
    height: 120px;
    padding-top: 40px;
    color: #f0f7f4;
    font-size: 1.2rem;
    font-family: 'Abril Fatface', cursive; 
    
}

nav a:link{
    color: #f0f7f4;
}

nav a:visited{
    color: #f0f7f4;
}

nav a:hover{
    color: #5a7684;
}

.search{
    border-radius: 5px;
    
}

nav input{
    display: flex;
    justify-content: flex-end;
}


/******* HOME PAGE ********/

.bg-img{
    max-width: 100%;
}

.bg-img-container{
    position: relative;
    text-align: center;
    color: #f0f7f4;
}

.banner-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.portfolio-button{
    background-color: #5a7684;
    color: #f0f7f4;
}

.portfolio-button-outline{
    border-color: #5a7684;
    color: #5a7684;
}
.img-gallery{
    padding: 0px;
    max-height: 100%;
}

.services{
    margin-top: 72px;
    margin-bottom: 72px;
    color: #f0f7f4;
}

.my-services{
    padding: 50px;
    background-color: #5a7684;
}

.pricing{
    background-color: #614834;
    margin-bottom: 72px;
    display: flex;
    justify-content: space-evenly;
}

.pricing-text{
    background-color: #f0f7f4;
    color: #614834;
}

.pricing-img{
    border-radius: 50%;
    padding: 20px;
}

.pricing-card{
    background-color: #614834;
    border-color: #71e8b2;
    margin-top: 30px;
    margin-bottom: 30px;
    
    color: #f0f7f4;
    width: 100%;
}

.pricing-btn{
    background-color: #614834;
    border-color: #71e8b2;
}


/******* ABOUT ME PAGE ********/

.about-me{
    margin-top: 72px;
    margin-bottom: 72px;
    color: #614834;
}

.about-me-txt{
    margin-top: 20px;
}

.d-flex{
    
    align-items: center;
    
}

.text-center p{
    vertical-align: middle;
}

.portrait{
    max-width: 100%;
    
}

.awards{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 72px;
    color: #614834;
}

.awards-img{
    border-radius: 50%;
}

.awards-card{
    background-color: #f0f7f4;
    border-color: #f0f7f4;
    color: #614834;
}





/******* PORTFOLIO PAGE ********/

.portfolio-card{
    width: 100%;
    margin-top: 15px;
    color: #614834;
    position: relative;
    text-align: left;

}

.portfolio-card-txt{
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: #f0f7f4;
    opacity: 80%;
    width: 100%;
    
}


.portfolio-containter{
    margin-top: 72px;
    margin-bottom: 72px;
    
}

.portfolio-containter h1{
    color: #614834;
}

.portfolio-heading{
    color: #614834;
}

a:hover{
    color: #5a7684;
}



/******* CONTACT ME PAGE ********/

.contact{
    margin-top: 72px;
    margin-bottom: 72px;
    color: #614834;
}

.submit{
    background-color: #f0f7f4;
    width: 100px;
}

form{
    background-color: #5a7684;
    padding: 15px;
    height: 100%;
    
}

form input{
    height: 50px;
}

form label{
    font-size: 1.3rem;
    color: #f0f7f4;
}

.comments{
    height: 90px;
}

.social-media{
    margin-bottom: 72px;
    display: flex;
    justify-content: center;
    color: #614834;
}

.social-media a:active{
    color: #5a7684;
}

.social-media a:visited{
    color: #5a7684;
}

.social-media a:hover{
    color: #71e8b2;
}

.social-media-card{
    background-color: #f0f7f4;
    border-color: #f0f7f4;
}

/******* FAQ's PAGE ********/

.faq{
    margin-top: 72px;
    margin-bottom: 72px;
    color: #614834;
}

.faq-card{
    margin-top: 15px;
}

.heart-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f0f7f4;
    opacity: 80%;
    width: 400px;
}