@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/********************** MY STYLE **********************/

body{
    background-color: #d5d5d5;
    font-family: 'Poiret One', cursive;
}

.main{
    margin-bottom: 40px;
}

img{
    width: 100%;
    
}

nav{
    background-color: #d5d5d5;
    display: flex;
    
}

a{
    text-decoration: none; /* text-decoration none was used to increase visual appeal and to remove line from under each link */
    color: black;
    padding-top: 3px;
    padding-bottom: 5px;
    padding-left: 10px;
    font-size: 17px;
    text-align: center;
}

a:visited{ /* a:visited was used to add some added usability */
    color: blue;
}

a:hover{ /* a:hover was used to add some animaion and added usability */
    color: cadetblue;
    transition: 1s .7s;
    animation-name: scale;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

form{
    background-color: #b9d2d9;
    margin-top: 10px;
    border-radius: 15px;
    padding-left: 12px;
    padding-right: 30px;
    margin-left: 10px; 
    margin-right: 10px; /* margin-left and margin-right was used to keep form centered */

    
}


h2{
    padding-top: 10px;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 20px;
}

input{
    width: 100%;
    margin-bottom: 7px;
    border: none;
    padding: 10px 10px 10px 10px;
    border-radius: 5px; /* border-radius was used to add design and visual appeal */
    font-family: 'Poiret One', cursive;
}


button{
   border-radius: 3px; /* border-radius was used to add design and visual appeal */
   padding: 5px 7px 5px 5px;
   margin-bottom: 10px;
   margin-top: 10px;
   border: none;
   font-family: 'Poiret One', cursive;
}

footer{
    background-color: #b9d2d9;
    position: fixed; /* fixed position was used to fix footer at the bottom of the page  */
    bottom: 0;
    padding: 5px 5px 5px 5px;
    width: 100%;
    margin-top: 20px;
}

@media (min-width: 400px){ /* media queries were added to increase the visual appeal of nav bar  */


    nav{
        padding-top: 5px;
        padding-bottom: 5px;
    }

    a{
        font-size: 20px;
    }

}

@media (min-width: 545px){ /* media queries were added to increase the visual appeal of nav bar  */


    nav{
        padding-top: 5px;
        padding-bottom: 5px;
    }

    a{
        font-size: 23px;
        padding-left: 20px;
    }

}


@media (min-width: 600px){ /* media queries were added to increase the visual appeal of nav bar  */


    nav{
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
    }

    a{
        font-size: 25px;
        padding-left: 30px;
    }


}

@keyframes scale {
    50% {transform: scale(.7); }
}